@import '../../_variables';

.card {
  width: 100%;
  background-color: #fff;
  display: block;
  margin: 20px auto 0;
  text-align: center;
  padding: 0px 0;

  ul {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid #efefef;
      padding: 20px 70px 20px 20px;
      margin-bottom: 0px;
      position: relative;
      display: flex;
      align-items: top;

      &:hover {
        background-color: #f8f8f8;
      }

      .person-img {
        margin-right: 10px;
      }

      .page__toggle {
        clear: both;

        .toggle{
          --checkToggleSize: var(--checkSize, 16px);
          --checkToggleIndent: var(--checkIndent, .4em);
          --checkToggleBorderWidth: var(--checkBorderWidth, 2px);
          --checkToggleColor: var(--toggleColor, $checkbox-border);
          --checkToggleDisabledColor: var(--toggleDisabledColor, $checkbox-border);
          --checkToggleBgColor: var(--toggleBgColor, #fff);
          --checkToggleArrowWidth: var(--toggleArrowWidth, 2px);
          --checkToggleArrowColor: var(--toggleArrowColor, #fff);

          display: inline-block;
          position: relative;
        }

        .toggle__input{
          position: absolute;
          left: -99999px;
        }

        .toggle__label{
          display: inline-flex;
          cursor: pointer;
          min-height: var(--checkToggleSize);
          padding-left: calc(var(--checkToggleSize) + var(--checkToggleIndent));
        }

        .toggle__label:before, .toggle__label:after{
          content: "";
          box-sizing: border-box;  
          width: 16px;
          height: 16px;
          font-size: var(--checkToggleSize);

          position: absolute;
          left: 0;
          top: 0;
        }

        .toggle__label:before{
          border: var(--checkToggleBorderWidth) solid var(--checkToggleColor);
          z-index: 2;
        }

        .toggle__input:disabled ~ .toggle__label:before{
          border-color: var(--checkToggleDisabledColor);
        }

        .toggle__input:not(:disabled) ~ .toggle__label:after{
          background-color: var(--checkToggleColor);
          opacity: 0;
        }

        .toggle__input:not(:disabled):checked ~ .toggle__label:after{
          opacity: 1;
        }

        .toggle__text{
          margin-top: auto;
          margin-bottom: auto;
        }

        .toggle__text:before{
          content: "";
          box-sizing: border-box;
          width: 0;
          height: 0;
          font-size: var(--checkToggleSize);

          border-left-width: 0;
          border-bottom-width: 0;
          border-left-style: solid;
          border-bottom-style: solid;
          border-color: var(--checkToggleArrowColor);

          position: absolute;
          top: .5428em;
          left: .2em;
          z-index: 3;

          transform-origin: left top;
          transform: rotate(-40deg) skew(10deg);
        }

        .toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
          width: .5em;
          height: .25em;
          border-left-width: var(--checkToggleArrowWidth);
          border-bottom-width: var(--checkToggleArrowWidth);
          will-change: width, height;
          transition: width .1s ease-out .2s, height .2s ease-out;
        }

        .toggle__label:before, .toggle__label:after{
          border-radius: 2px;
        }

        .toggle__input:not(:disabled) ~ .toggle__label:before,
        .toggle__input:not(:disabled) ~ .toggle__label:after{
          opacity: 1;
          transform-origin: center center;
          will-change: transform;
          transition: transform .2s ease-out;
        }

        .toggle__input:not(:disabled) ~ .toggle__label:before{
          transform: rotateY(0deg);
          transition-delay: .2s;
        }

        .toggle__input:not(:disabled) ~ .toggle__label:after{
          transform: rotateY(90deg);
        }

        .toggle__input:not(:disabled):checked ~ .toggle__label:before{
          transform: rotateY(-90deg);
          transition-delay: 0s;
        }

        .toggle__input:not(:disabled):checked ~ .toggle__label:after{
          transform: rotateY(0deg);
          transition-delay: .2s;
        }

        .toggle__text:before{
          opacity: 0;
        }

        .toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before{
          opacity: 1;
          transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
        }

        .toggle{
          --toggleColor: #859EFF;
          --toggleBgColor: #859EFF;
          --checkSize: 16px;
          margin-right: 10px;
        }

      }
      input.inline-title, input.inline-text {
        width: 100%;
        border: 1px solid $checkbox-background-checked;
        background-color: #f8f8f8;
        color: $checkbox-background-checked;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #fff;
        }

        &:focus {
          background-color: #fff;
        }
      }

      .inline-text {
        color: $item-content-color;
        background-color: transparent;
        font-family: $item-content-font;
        font-weight: $item-content-weight;
        font-size: $item-content-size;
        margin-top: 5px;

        &:focus {
          outline: 0;
        }
      }
      button {
        position: absolute;
        right: 15px;
        top: 20px;
        border: 0;
        background-color: transparent;
      }
    }
  }

  p {
    color: #ccc;
    font-family: $body-font;
    font-weight: $item-content-weight;
    font-size: $item-content-size;
  }

  .last-row {
    padding: 20px;

    button {
      border: 0;
      background-color: transparent !important;

      &:focus {
        outline: 0;
      }
    }
  }
}
